@use 'palette' as *;
@use './mixins.scss' as mixins;

* {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	width: 1440px;
	height: 800px;
	padding: 127px 165px;
}

.heroSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 266px;
	width: 1110px;
}

.heroSection__titleContainer {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 445px;
	height: 235px;

	h1 {
		@include mixins.social-proof-header;
	}

	p {
		@include mixins.social-proof-header-description;
	}
}

.heroSection__starRatingsContainer {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 540px;

	div:nth-child(2) {
		margin-left: 48px;
	}

	div:last-child {
		margin-left: 96px;
	}
}

.heroSection__ratingCardContainer {
	@include mixins.social-proof-star-rating-card;
	border: 1px solid black;

	.heroSection__starContainer {
		@include mixins.social-proof-star-icon-container;
	}

	p {
		@include mixins.social-proof-card-text;
	}
}

.heroSection__testimonialCardContainer {
	@include mixins.social-proof-testimonial-rating-card;
}

.heroSection__cardHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 26px;
	width: 160px;
	height: 40px;

	img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}

	.heroSection__customerName {
		@include mixins.social-proof-customer-name;

		p:nth-child(1) {
			color: $testimonialCardPrimaryTextColor;
			margin-bottom: 5px;
		}

		p:nth-child(2) {
			color: $testimonialCardSecondaryTextcolor;
			font-weight: 400;
		}
	}
}
