html {
    height: 100vh;

    body {
        border: 2px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.mainCardContainer {
    border: 2px solid green;
}

.secondaryCardContainer {
    border: 2px solid blue;
}