@use 'palette' as *;
@use './mixins.scss' as mixins;

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: auto;
}

body {
	@include mixins.flex(column, flex-start, center);
	background-image: url("../assets/images/bg-pattern-top-desktop.svg"),
		url("../assets/images/bg-pattern-bottom-desktop.svg");
	background-position: top left, bottom right;
	background-repeat: no-repeat no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;

	@include mixins.screen("med", mixins.$breakpoint-med) {
		overflow-y: scroll;
	}
}

main {
	@include mixins.flex(column, center, center);
	width: 1440px;
	height: 800px;
	padding: 127px 165px;

	section:nth-child(1) {
		height: 235px;
		margin-bottom: 49px;
	}

	section:nth-child(2) {
		height: 266px;
		flex-shrink: 0;
	}

	@include mixins.screen("med", mixins.$breakpoint-med) {
		@include mixins.flex(column, flex-start, center);
		width: 375px;
		height: 1530px;
		padding: 80px 24px;

		section:nth-child(1) {
			width: 100%;
			height: auto;
		}

		section:nth-child(2) {
			width: 100%;
			height: auto;
		}
	}

	@include mixins.screen("small", mixins.$breakpoint-small) {
		section:nth-child(1) {
			width: 90%;
		}
	}
}

.heroSection {
	@include mixins.flex(row, space-between, flex-start);
	width: 1110px;

	.heroSection__testimonialCardContainer:nth-child(2) {
		align-self: center;
	}

	.heroSection__testimonialCardContainer:nth-child(3) {
		align-self: flex-end;
	}

	@include mixins.screen("med", mixins.$breakpoint-med) {
		@include mixins.flex(column, flex-start, center);

		.heroSection__testimonialCardContainer:nth-child(1) {
			margin-bottom: 16px;
		}

		.heroSection__testimonialCardContainer:nth-child(2) {
			margin-bottom: 16px;
		}

		.heroSection__testimonialCardContainer:nth-child(3) {
			align-self: center;
		}
	}
}

.heroSection__titleContainer {
	@include mixins.flex(column, space-between, flex-start);
	width: 445px;

	h1 {
		@include mixins.text(
			$primaryTextColor,
			48px,
			normal,
			700,
			-1.71px,
			48px,
			left
		);
		height: 154px;
		width: 445px;
		margin-bottom: 6px;
	}

	p {
		@include mixins.text(
			$secondaryTextColor,
			15px,
			normal,
			500,
			-0.5px,
			25px,
			left
		);
		height: 75px;
		width: 445px;
	}

	@include mixins.screen("med", mixins.$breakpoint-med) {
		width: 100%;
		margin-bottom: 40px;

		h1 {
			@include mixins.text(
				$primaryTextColor,
				32px,
				normal,
				700,
				-1.1428571939468384px,
				32px,
				center
			);
			width: 327px;
			height: 102px;
			margin-bottom: 18px;
		}

		p {
			@include mixins.text(
				$secondaryTextColor,
				15px,
				normal,
				500,
				-0.5px,
				25px,
				center
			);
			width: 327px;
			height: 100px;
		}
	}

	@include mixins.screen("small", mixins.$breakpoint-small) {
		align-items: center;

		h1,
		p {
			width: inherit;
		}
	}
}

.heroSection__starRatingsContainer {
	@include mixins.flex(column, center, flex-start);
	height: 200px;
	width: 540px;

	div:nth-child(1) {
		margin-bottom: 16px;
	}

	div:nth-child(2) {
		margin-left: 48px;
		margin-bottom: 16px;
	}

	div:last-child {
		margin-left: 96px;
	}

	@include mixins.screen("med", mixins.$breakpoint-med) {
		@include mixins.flex(column, flex-start, center);
		height: 266px;
		width: 100%;

		div.heroSection__ratingCardContainer {
			@include mixins.flex(column, center, center);
			width: 327px;
			height: 78px;
		}

		div:nth-child(1) {
			margin-bottom: 16px;
		}

		div:nth-child(2) {
			margin-left: 0;
			margin-bottom: 16px;
		}

		div:nth-child(3) {
			margin-left: 0;
		}
	}

	@include mixins.screen("small", mixins.$breakpoint-small) {
		div.heroSection__ratingCardContainer {
			width: 90%;
		}
	}
}

.heroSection__ratingCardContainer {
	@include mixins.flex(row, space-between, center);
	background-color: $starRatingBackgroundColor;
	border-radius: 8px;
	height: 56px;
	width: 445px;
	padding-left: 32px;
	padding-right: 90px;

	.heroSection__starContainer {
		@include mixins.flex(row, space-evenly, center);
		margin-bottom: 0 !important;
		width: 117px;
		height: 16px;

		@include mixins.screen("med", mixins.$breakpoint-med) {
			margin-bottom: 16px !important;
		}
	}

	p {
		@include mixins.text($primaryTextColor, 13px, normal, 700, 0px, 15px, left);
		height: 15px;
	}

	@include mixins.screen("med", mixins.$breakpoint-med) {
		@include mixins.flex(column, center, center);
		padding: 0;
	}
}

.heroSection__testimonialCardContainer {
	@include mixins.flex(column, flex-start, flex-start);
	background-color: $primaryTextColor;
	border-radius: 8px;
	height: 234px;
	width: 350px;
	padding: 40px 32px;

	p {
		color: $testimonialCardPrimaryTextColor;

		@include mixins.text(
			$testimonialCardPrimaryTextColor,
			13px,
			normal,
			500,
			-0.2321428507566452px,
			22px,
			left
		);
		height: 88px;
		width: 286px;
	}

	@include mixins.screen("med", mixins.$breakpoint-med) {
		width: 327px;
		height: 248px;
	}
}

.heroSection__cardHeader {
	@include mixins.flex(row, space-between, stretch);
	margin-bottom: 26px;
	width: 160px;
	height: 40px;

	img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}

	.heroSection__customerName {
		@include mixins.flex(column, flex-end, flex-start);
		@include mixins.text(inherit, 13px, normal, 700, 0px, 15px, left);
		width: 97px;
		height: 34px;

		p {
			height: 15px;
			width: max-content;
		}

		p:nth-child(1) {
			color: $testimonialCardPrimaryTextColor;
			margin-bottom: 5px;
		}

		p:nth-child(2) {
			color: $testimonialCardSecondaryTextcolor;
			font-weight: 400;
		}
	}
}
