@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
@import "./palette.scss";

$Spartan: "Spartan", sans-serif;

@mixin flex($direction, $justifyContent, $align-items) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justifyContent;
	align-items: $align-items;
}

@mixin text($color, $size, $style, $weight, $spacing, $lineHeight, $textAlign) {
	color: $color;
	font-family: $Spartan;
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
	letter-spacing: $spacing;
	line-height: $lineHeight;
	text-align: $textAlign;
}

// hero star rating card text
@mixin social-proof-card-text {
	color: $primaryTextColor;
	font-family: $Spartan;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	height: 15px;
}

@mixin social-proof-star-icon-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 117px;
	height: 16px;
}

// testimonial cards
@mixin social-proof-testimonial-rating-card {
	background-color: $primaryTextColor;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 234px;
	width: 350px;
	padding: 40px 32px;
	font-family: $Spartan;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	height: 234px;
	letter-spacing: -0.2321428507566452px;
	line-height: 22px;
	text-align: left;
}

@mixin social-proof-customer-name {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	font-family: $Spartan;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0px;
	width: 97px;
	height: 34px;
}
