// Main Section
$primaryTextColor: #512051;
$secondaryTextColor: #927b91;
$backgroundColor: #fff;

// Star Rating Cards
$starRatingBackgroundColor: #f7f2f7;
// $starRatingBackgroundColor: #512051;
$starRatingStarColor: #ef9546;

// Testimonial Cards
$testiomonialCardPrimaryBackgroundColor: #512051;
$testimonialCardPrimaryTextColor: #fff;
$testimonialCardsecondaryTextcolor: #ee69a4;
