// Main Section
$primaryTextColor: #512051;
$secondaryTextColor: #927B91;
$backgroundColor: #FFF;

// Star Rating Cards
$starRatingBackgroundColor: #F7F2F7;
$starRatingBackgroundColor: #512051;
$starRatingStarColor: #EF9546;

// Testimonial Cards
$testiomonialCardPrimaryBackgroundColor: #512051;
$testimonialCardPrimaryTextColor: #FFF;
$testimonialCardsecondaryTextcolor: #EE69A4;