// Main Card
$mainCardPrimaryTextColor: #512051;
$mainCardSecondaryTextColor: #927B91;

// Star Rating Cards
$starRatingBackgroundColor: #F7F2F7;
$starRatingBackgroundColor: #512051;
$starRatingStarColor: #EF9546;

// Testimonial Cards
$testiomonialCardPrimaryBackgroundColor: #512051;
$testimonialCardPrimaryTextColor: #fff;
$testimonialCardsecondaryTextcolor: #EE69A4;

// test